.c-button {
    padding: rem(15px) rem(20px);
    background-color: lightgray;

    @include u-hocus {
        background-color: darkgray;
    }
}

// ** Global Buttons **

.btn {
    @include vw('font-size', 12, 420);
    @include vw('padding-top', 12, 420);
    @include vw('padding-bottom', 12, 420);
    @include vw('padding-left', 36, 420);
    @include vw('padding-right', 36, 420);
    display: block;
    width: fit-content;
    height: fit-content;
    line-height: 1.5;
    border-radius: 20px;

    @include min-screen($xsmall) {
        @include vw('padding-top', 16, 767);
        @include vw('padding-bottom', 16, 767);
        @include vw('padding-left', 36, 767);
        @include vw('padding-right', 36, 767);
        border-radius: 26px;
    }

    @include min-screen ($small) {
        @include vw('font-size', 18);
        @include vw('padding-top', 16);
        @include vw('padding-bottom', 16);
        @include vw('padding-left', 36);
        @include vw('padding-right', 36);
        border-radius: 10px;
    }

    &.btn-white {
        color: $white;
        border: 1px solid $white;
    }

    &.btn-black {
        color: $white;
        background: $black;
    }

    &.btn-subscribe {
        background: $white;
        color: $light-grey;
        font-weight: 500;
    }
}
