.c-button {
    padding: rem(15px) rem(20px);
    background-color: lightgray;

    @include u-hocus {
        background-color: darkgray;
    }
}

// ** Global Buttons **

.btn {
    @include vw('font-size', 12, 420);
    @include vw('padding-top', 12, 420);
    @include vw('padding-bottom', 12, 420);
    @include vw('padding-left', 36, 420);
    @include vw('padding-right', 36, 420);
    display: block;
    width: fit-content;
    border-radius: 12px;

    @include min-screen ($small) {
        @include vw('font-size', 18);
        @include vw('padding-top', 12);
        @include vw('padding-bottom', 12);
        @include vw('padding-left', 36);
        @include vw('padding-right', 36);
        border-radius: 12px;
    }

    &.btn-white {
        color: $white;
        border: 1px solid $white;
    }

    &.btn-black {
        color: $white;
        background: $black;
    }

    &.btn-subscribe {
        background: $white;
        color: $black;
        font-weight: 500;
    }
}
