#siteFooter {
    @include vw ('padding-top', 48, 420);
    @include vw ('padding-bottom', 48, 420);
    width: 100%;
    background: $black;
    z-index: 2;

    svg {  @include vw('width', 22, 420); }

    @include min-screen($xsmall) {
        svg {  @include vw('width', 22, 767); }
    }

    @include min-screen($small) {
        @include vw ('padding', 48);
        @include vw ('padding-top', 92);
        position: fixed;
        bottom: 0;
        left: 0;

        svg {  @include vw('width', 22); }
    }
    
    .footer__nav {
        @include vw('font-size', 14, 420);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;

        @include min-screen($small) {
            @include vw('font-size', 18);
            flex-direction: row;
        }

        .nav-footer {
            @include vw('padding-top', 48, 420);
            @include vw('padding-bottom', 36, 420);
            width: 100%;
            border-bottom: 1px solid #707070;

            @include min-screen($small) {
                width: fit-content;
                padding: 0;
                border: none;
            }
            
            ul {
                column-count: 3;
                column-gap: 24px;

                li {
                    @include vw('padding-bottom', 6);
                    
                    a {
                        @include vw('padding-bottom', 6);
                        color: $white;
                    }
                }
            }
        }

        .nav-social {
            @include vw('padding-top', 36, 420);
            @include vw('padding-bottom', 36, 420);
           
            @include min-screen($small) { padding: 0; }

            span {
                display: block;
                color: $white;
                @include vw('padding-bottom', 12);
            }

            li {
                @include vw('padding-right', 8, 420);
                @include vw('height', 16, 420);
                display: inline-block;

                &:last-of-type {
                    padding: 0;
                    a { padding: 0; }
                }
    
                a, img { height: 100%; }

                a { @include vw('padding-right', 8, 420); }

                @include min-screen($xsmall) {
                    @include vw('height', 28, 767);

                    a { @include vw('padding-right', 12, 767); }
                }

                @include min-screen($small) {
                    @include vw('padding-right', 8);
                    @include vw('height', 24);

                    a { @include vw('padding-right', 8); }
                }
            }

        }
    }

    .newsletter {
        @include vw('padding-top', 36, 420);
        border-top: 1px solid #707070;

        @include min-screen($small) {
            padding: 0;
            border: none;
        }

        form {
            label {
                @include vw('font-size', 14, 420);
                @include vw('margin-bottom', 12, 420);
                display: block;
                color: $white;

                @include min-screen($small) {
                    @include vw('font-size', 18);
                    @include vw('margin-bottom', 12);
                }
            }

            .input__wrapper {
                display: flex;
                flex-direction: column;
       
                @include min-screen($small) {
                    flex-direction: row;
                    justify-content: space-between;
                }
  
                input {
                    @include vw('margin-bottom', 12, 420);
                    width: 100%;
                    border-radius: 0;

                    @include min-screen($small) {
                        width: 80%;
                        margin: 0 $unit-small 0 0;
                    }
                }

                .btn { height: 100%; }
            }
        }
    }
    
    .site-copyright {
        @include vw('font-size', 10, 420);
        @include vw('margin-top', 72, 420);
        width: 100%;
        color: $white;
        text-align: center;

        @include min-screen ($small) {
            @include vw('font-size', 12);
            @include vw('margin-top', 72);
        }
    }
}