#siteFooter {
    @include vw ('padding', 48);
    @include vw ('padding-top', 92);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: $black;
    z-index: 2;
    
    svg {  @include vw('width', 22); }

    .footer__nav {
        @include vw('font-size', 18);
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .nav-footer ul {
            column-count: 3;
            column-gap: 24px;

            li {
                @include vw('padding-bottom', 6);
                
                a {
                    @include vw('padding-bottom', 6);
                    color: $white;
                }
            }
        }

        .nav-social {
            span {
                display: block;
                color: $white;
                @include vw('padding-bottom', 12);
            }

            li {
                @include vw('padding-right', 12);
                display: inline-block;
            }

        }
    }

    .newsletter {
        form {
            label {
                @include vw('font-size', 18);
                @include vw('margin-bottom', 12);
                display: block;
                color: $white;
            }

            .input__wrapper {
                display: flex;
                justify-content: space-between;
  
                input {
                    width: 70%;
                    margin-right: $unit;
                }
            }
        }
    }
    
    .site-copyright {
        @include vw('font-size', 12);
        @include vw('margin-top', 72);
        width: 100%;
        color: $white;
        text-align: center;
    }
}