#siteHeader {
    @include vw ('padding', 18, 420);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $black;
    z-index: 20;
    transition: all 0.3s ease-in-out;

    @include min-screen($small) {
        @include vw ('padding', 48);
        position: absolute;
    }
    
    .brand {
        @include vw('height', 12, 420);
    
        svg {
            height: 100%;
            vertical-align: top;
        }

        @include min-screen($small) {
            @include vw('height', 24);
            transform: translateY(0);
            transition: opacity 0.3s ease-in-out, transition 0.3s ease-in-out, height 0.3s ease-in-out;
            transition: height 0.3s ease-in-out;
        }
    }

    .brand-icon {
        @include vw('height', 48);
        position: absolute;
        top: 50%;
        left: 2.5vw;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.3s ease-in-out;

        svg { height: 100%; }
    }

    .nav-header {
        @include vw ('margin-top', 36);
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: $black;
        opacity: 0;
        pointer-events: none;
        z-index: 10;
        transition: all 0.3s ease-in-out;

        &.visible {
            opacity: 1;
            pointer-events: auto;
        }

        @include min-screen($small) {
            position: relative;
            height: auto;
            width: auto;
            opacity: 1;
            pointer-events: auto;
        }

        ul {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @include min-screen($small) {
                height: auto;
                flex-direction: row;
            }

            li {
                @include vw ('font-size', 24, 420);
                @include vw ('padding-top', 8, 420);
                @include vw ('padding-bottom', 8, 420);

                a {
                    @include vw ('padding-top', 12, 420);
                    @include vw ('padding-bottom', 12, 420);
                    color: $white;
                }

                @include min-screen($small) {
                    @include vw ('font-size', 18);
                    @include vw ('padding-left', 24);
                    @include vw ('padding-right', 24);
                    padding-top: 0;
                    padding-bottom: 0;

                    a {
                        @include vw ('padding-left', 24);
                        @include vw ('padding-right', 24);
                        @include vw ('padding-top', 12);
                        @include vw ('padding-bottom', 12);
                    }
                }
            }
        }
    }

    &.fixed {
        @include vw ('padding', 36);
        position: fixed;
        top: 0;
        left: 0;
        
        .brand {
            opacity: 0;
            transform: translateY(-100%);
            height: 0;
        }

        .brand-icon { opacity: 1; }

        .nav-header { margin-top: 0; }
    }

    .burger-menu {
        width: 16px;
        height: $unit-small;
        position: absolute;
        top: 50%;
        left: $unit;
        transform: translateY(-50%);
        z-index: 12;

        span {
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            background: $light-grey;
            opacity: 1;
            transition: all 0.3s ease-in-out;
            z-index: 12;

            &:first-child {  top: 0; }
            &:nth-child(2) { top: 48%; }
            &:last-child { bottom: 0; }
        }

        &.open {
            span:first-child { top: 48%; opacity: 0; }
            span:last-child { bottom: 52%; opacity: 0; }
        }

        @include min-screen($small) { display: none; }
    }
}
