.home-wrapper {
    position: relative;
    z-index: 11;
    pointer-events: auto !important;
}

.home--hero {
    background: #080808;

    .hero-wrapper {
        width: 100%;
        min-height: 100vh;
        min-height: calc(var(--vh, 1vh) * 100);
        position: relative;

        @include min-screen($small) { @include vw('padding-bottom', 460); }
        
        > span:first-child {
            display: none;
            width: 100%;
            height: 100vh;
            height: calc(var(--vh, 1vh) * 100);
            background: transparent;
            position: relative;
            z-index: 2;

            @include min-screen($small) { display: block; }

            svg {
                @include vw('width', 24);
                position: absolute;
                top: 85vh;
                left: 50%;
                transform: translateX(-50%);
            }            
        }

        .hero__background {
            width: 100%;
            height: 100vh;
            position: sticky;
            top: 0;
            left: 0;
            overflow: hidden;
            opacity: 0;
            z-index: 1;

            animation: fadeBackground 0.5s linear forwards;
            animation-delay: 0.5s;
            
            @keyframes fadeBackground {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            div {
                width: 100%;
                height: 100%;

                &.video-desktop { display: none; }
                &.video-mobile { display: block; }

                video {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }    
            }

            @include min-screen($small) {
                @include vw('margin-bottom', 400);
                position: absolute;

                .video-desktop { display: block !important; }
                .video-mobile { display: none !important; }
            }
        }

        .hero__title {
            @include vw('padding-bottom', 300, 420);
         
            .heading-one {
                max-width: 80%;
                margin: auto;
                text-align: center;            
            }

            .heading-one, .btn { 
                position: relative;
                z-index: 2;
                margin: auto;
            }

            .btn {
                @include vw('margin-top', 24, 420);
                @include vw('padding-left', 48, 420);
                @include vw('padding-right', 48, 420);
            }

            @include min-screen($small) {
                padding: 0;

                .heading-one { max-width: 60%; }
                .btn {
                    @include vw('margin-top', 24);
                    @include vw('padding-left', 48);
                    @include vw('padding-right', 48);
                }
            }
        }
    }
}

.home--about {
    background: #121217;
    overflow: hidden;

    .about-logo {
        margin-top: -4px;
        display: inline-block;

        svg {
            min-width: 100vw;
            width: 100vw;
        }

        @include min-screen($small) { margin-top: -12px; }
    }

    .about-wrapper {
        @include vw('padding-top', 140, 420);
        @include vw('padding-bottom', 140, 420);

        @include min-screen($small) {
            @include vw('padding-top', 210);
            @include vw('padding-bottom', 210);
        }
        
        .about__bullets {
            @include vw('margin-top', 72, 420);

            li {
                @include vw('margin-bottom', 12, 420);
                @include vw('padding-left', 36, 420);
                position: relative;
          
                &:last-of-type { margin-bottom: 0; }

                span { 
                    @include vw('width', 12, 420);
                    @include vw('height', 12, 420);
                    @include vw('top', 6, 420);
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                }
            }

            @include min-screen($small) {
                @include vw('margin-top', 60);
                
                li {
                    @include vw('margin-bottom', 24);
                    @include vw('padding-left', 48);

                    span { 
                        @include vw('width', 16);
                        @include vw('height', 16);
                        @include vw('top', 8);
                    }
                }
            }
        }
    }
}

.home--infographics {
    @include vw('padding-top', 96, 420);
    @include vw('padding-bottom', 160, 420);
    background: $dark-grey;

    @include min-screen($small) {
        @include vw('padding-top', 320);
        @include vw('padding-bottom', 320);
    }

    .infographic__slideshow {
        width: 100%;
        position: relative;
        overflow: visible;

        &.infographic-mobile {
            @include min-screen($small) { display: none; }
        }

        &.infographic-desktop {
            display: none;
            @include vw('height', 650);
            @include min-screen($small) { display: block; }
        }

        .swiper-container { 
            height: 100%;

            .swiper-slide {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .slide__wrapper {
                    @include vw('margin-bottom', 48, 320);
                    max-height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &:last-of-type { margin: 0; }
                    
                    .slide__text {
                        @include vw('padding-bottom', 36, 420);
                        width: 80%;
                        margin: auto;
                    }

                    .slide__image {
                        width: 100%;
                    
                        img {
                            height: auto;
                            max-height: 100%;

                            &.img_desktop { display: none; }
                            &.img_mobile { display: block; }
                        }
                    }

                    @include min-screen($xsmall) {
                        .slide__image {
                            width: 80%;
                            margin: auto;

                            img { width: 100%; }
                        }
    
                    }

                    @include min-screen($small) {
                        @include vw('margin-bottom', 48);
                        flex-direction: row;

                        .slide__text {
                            width: 25%;
                            margin: 0;
                            padding: 0;
                        }

                        .slide__image {
                            width: 65%;
                            margin: 0;
                            text-align: right;

                            img {
                                &.img_desktop { display: block; }
                                &.img_mobile { display: none ; }
                            }
                        }
                    }
                }
            }
        }

        .swiper-navigation {
            display: flex;
            align-items: center;
            position: absolute;
            top: 110%;
            left: 10%;
            color: $light-grey;

            @include min-screen($small) { left: 0; }

            .swiper-prev, .swiper-next {
                height: auto;
                position: relative;
                padding: 8px;
                padding-left: 0;
                pointer-events: auto;
                z-index: 10;
                svg { @include vw('height', 24, 420); }

                @include min-screen($small) { svg { @include vw('height', 24); } }
            }

            .swiper-next { transform: rotate(180deg); }

            .swiper-pagination {
                position: relative;
           
                .swiper-pagination-bullet {
                    @include vw('padding', 8, 420);
                    width: auto;
                    height: auto;
                    background: none;
                    color: $light-grey;
                    cursor: none;

                    @include min-screen($xsmall) {
                        @include vw('font-size', 24, 767);
                        @include vw('padding', 8, 767);
                    }

                    @include min-screen($small) {
                        @include vw('font-size', 24);
                        @include vw('padding', 8);
                    }
                }

                .swiper-pagination-bullet-active { color: $white; }
            }
        }
    }
}

.home--services {
    @include vw('padding-top', 36, 420);
    background: $black;
    text-align: center;
    overflow: hidden;

    @include min-screen($small) {
        @include vw('padding-top', 280);
        @include vw('padding-bottom', 98);
    }

    .heading-three-white {
        @include vw('margin-bottom', 36, 420);
        @include min-screen($small) { @include vw('margin-bottom', 72); }
    }

    > .row {
        .column {
            border-bottom: 1px solid #707070;
            &:last-of-type { border: none; }

            @include min-screen($small) {
                border-right: 1px solid #707070;
                border-bottom: none;
            }
        }
    }

    .service__wrapper {
        @include vw('padding-top', 24, 420);
        @include vw('padding-bottom', 24, 420);
        height: 100%;
        width: 100%;
        margin: 0;
        display: flex;
    
        @include min-screen($small) {
            @include vw('padding-top', 24);
            @include vw('padding-bottom', 24);
        }
        
        h2 {
            margin: auto;
            color: $light-grey;
        }
    }
}

.home--experience {
    @include vw('padding-top', 72, 420);
    @include vw('padding-bottom', 140, 420);
    background: $black;
    position: relative;

    &:before {
        content: '';
        height: 20%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.9990371148459384) 0%, rgba(0,0,0,0) 100%);
        z-index: 2;
    }

    @include min-screen($small) {
        @include vw('padding-top', 200);
        @include vw('padding-bottom', 200);
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);    
        display: flex;
        align-items: center;
    }

 
    .experience-background {
        height: 60vh;
        height: calc(var(--vh, 1vh) * 60);
        width: 100%;
        position: relative;
        z-index: 0;

        &:after {
            content: '';
            height: 20%;
            width: 100%;
            position: absolute;
            bottom: -2px;
            left: 0;
            background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9990371148459384) 100%);
            z-index: 2;
        }

        .experience__one, .experience__two {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);    
            
            video {
                width: 100%; 
                height: 100%;
            }
        }

        @include min-screen($small) {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &:after { display: none; }
            
            .experience__one, .experience__two {
                width: auto;
                height: 100%;
                left: 65%;
                transform: translateX(-65%);
            }
        }
    }

    .experience-wrapper {
        position: relative;
        z-index: 2;

        @include min-screen($small) {
            p { width: 80%; }
        }
    }
}

.video--banner-one , .video--banner-two {
    width: 100%;
    height: 80vh;
    height: calc(var(--vh, 1vh) * 80);
    position: relative;

    @include min-screen($small) { 
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);    
    }

    .video-background {
        width: 100%;
        height: 100%;
      
        video, img { 
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .heading-one {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;

        @include min-screen($small) { width: 50%; }
    }
}

.home--technology {
    position: relative;
    background: #121217;
    overflow: hidden;
    z-index: 0;

    .technology-background {
        width: 100%;
        height: 100%;
        position: relative;

        &:after {
            content: '';
            height: 10%;
            width: 100%;
            position: absolute;
            bottom: -2px;
            left: 0;
            background: linear-gradient(180deg, rgba(18, 18, 23,0) 0%, rgba(18, 18, 23,0.9990371148459384) 100%);
            z-index: 2;
        }

        video {
            height: 100%;
            width: 100%;
            object-fit: contain;
            object-position: right;
        }

        @include min-screen($xsmall) {
            height: 80vh;
            height: calc(var(--vh, 1vh) * 80);
        }
       
        @include min-screen($small) {
            width: 60%;
            height: 100%;
            position: absolute;
            top: 50%;
            right: -5%;
            transform: translateY(-50%);
            z-index: -1;

            &:after { display: none; }

            video {
                object-fit: cover;
                object-position: left;
            }
        }
    }

    .technology-wrapper {
        @include vw('padding-top', 72, 420);
        @include vw('padding-bottom', 140, 420);

        @include min-screen($small) {
            @include vw('padding-top', 400);
            @include vw('padding-bottom', 400);

            .heading-two-white, p { width: 75%; }
        }

        .technology__image {
            width: 60%;
            height: fit-content;
            margin: auto;
            @include vw('margin-top', 48, 420);
            
            @include min-screen($small) {
                width: 35%;
                margin: 0;
                @include vw('margin-top', 60);
            }

            lottie-player {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .technology__characteristics {
            width: 100%;
            display: flex;
            flex-direction: column;
            @include vw('margin-top', 48, 420);

            li {
                @include vw('padding-top', 24, 420);
                @include vw('padding-bottom', 24, 420);
                width: 100%;
                text-align: center;
                border-bottom: 1px solid #707070;

                &:last-of-type {
                    margin: 0;
                    border: none;
                }

                .heading-two-grey, .heading-three-grey {
                    margin: 0;
                    color: $light-grey;
                }
            }

            @include min-screen($xsmall) {
                li {
                    @include vw('padding-top', 24, 767);
                    @include vw('padding-bottom', 24, 767);
                }
            }

            @include min-screen($small) {
                width: fit-content;
                display: block;
                margin: 0;
                @include vw('margin-top', 60);
                
                li {
                    padding: 0;
                    margin-bottom: 0;
                    @include vw('padding-left', 36); 
                    @include vw('padding-right', 36); 
                    width: fit-content;
                    display: inline-block;
                    border-right: 1px solid #707070;
                    border-bottom: none;

                    &:first-of-type { padding-left: 0 }
                    &:last-of-type { padding-right: 0 }
                }
            }
        }
    }
}

.home--team {
    @include vw('padding-top', 96, 420);
    @include vw('padding-bottom', 96, 420);
    background: #E6E4E3;

    @include min-screen($small) {
        @include vw('padding-top', 180);
        @include vw('padding-bottom', 100);
    }

    .team-wrapper {
        p { color: $grey; }

        .team__header {
            @include vw('margin-top', 60, 420);
            @include min-screen($small) { display: none; }
            display: flex;
            align-items: center;
            justify-content: space-between;

            .team__nav {
                span {
                    @include vw('height', 16, 420);
                    display: inline-block;

                    svg {
                        height: 100%;
                        vertical-align: top;
                        path { stroke: $black; }
                    }

                    &:last-of-type {
                        margin-left: $unit-small;
                        transform: rotate(180deg);
                    }
                }
            }

            .team__index {
                color: $grey;
            }
        }

        .team__members {
            @include vw('margin-top', 24, 420);
            position: relative;
            transition: all 0.3s ease-in-out;
            
            @include min-screen($small) {
                @include vw('margin-top', 90); 
                height: fit-content;
            }

            li {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;
                
                &.active-member {
                    opacity: 1;
                    pointer-events: auto;
                }

                .heading-three-grey {
                    @include vw('font-size', 16, 420);
                    color: $black;
                    font-weight: 500;
                    margin-bottom: 0;
                }

                p { @include vw('margin-top', 24, 420); }

                @include min-screen($small) {
                    @include vw('margin-bottom', 80);
                    width: 45%;
                    position: relative;
                    vertical-align: top;
                    opacity: 1;
                    display: none;

                    .heading-three-grey { @include vw('font-size', 20); }
                    p { @include vw('margin-top', 24); }

                    &:nth-child(-n+4) {  display: inline-block; }
                    &:nth-of-type(2n+2) { margin-left: 5%  }

                    &.team__showmore { display: inline-block; }
                }
            }            
        }

        .team__showmore-tab {
            @include vw('font-size', 16);
            padding: vw(12) 0;
            color: $light-grey;
            text-transform: uppercase;
            display: none;
    
            span {
                @include vw('font-size', 24);
                padding-right: 6px;
                color: $black;
            } 
    
            @include min-screen($small) {  display: block; }
        }
    }
}

.home--form {
    @include vw('padding-top', 96, 420);
    @include vw('padding-bottom', 96, 420);
    background: #343436;

    @include min-screen($small) {
        @include vw('padding-top', 160);
        @include vw('padding-bottom', 160);
    }

    .form__hero {
        width: 90%;
      
        .heading-three-white, .heading-two-white {
            @include vw('margin-bottom', 36);
        }  
    }

    .form__wrapper {
        @include vw('margin-top', 24, 420);
        position: relative;
        input {  display: inline-block; }

        .row .column {
            @include vw('margin-bottom', 12, 420);
            @include create-cols(4, 4); 
            padding: 0;

            input { width: 100%; }
        }

        .form__submit {
            @include vw('margin-top', 12, 420);
            display: flex;     
            flex-direction: column;
            align-items: flex-start;

            .btn { height: 100%; }

            .form-feedback {
                @include vw('font-size', 16, 420);
                margin-left: $unit;
                color: $white;
                opacity: 0;
                transition: all 0.3s ease-in-out;

                &.success { opacity: 1; }
            }
        }
            

        @include min-screen($small) {
           margin: 0;

            .row .column {
                @include vw('margin-bottom', 12);
                @include create-cols(2, 4); 

                &:nth-of-type(1) {  padding-right: #{$gutter/2}vw; }
                &:nth-of-type(2) {  padding-left: #{$gutter/2}vw; }
            }

            .form__submit {
                @include vw('margin-top', 24);
                flex-direction: row;
                align-items: center;

                .form-feedback { @include vw('font-size', 16); }
            }    
        }
    }
}

.video--banner-three {
    @include vw('padding-top', 96, 420);
    @include vw('padding-bottom', 96, 420);
    background: #121217; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    .video-background {
        @include vw('width', 340, 420);

        img {   width: 100%; }
    }

    @include min-screen($small) {
        @include vw('padding-top', 160);
        @include vw('padding-bottom', 160);

        .video-background { @include vw('width', 460); }
    }
}