.home-wrapper {
    background: #000;
    position: relative;
    z-index: 11;
    pointer-events: auto !important;
}

.home--hero {
    background: #080808;

    .hero-wrapper {
        width: 100%;
        min-height: 100vh;
        position: relative;

        @include min-screen($small) { @include vw('padding-bottom', 460); }
        
        > span:first-child {
            display: none;
            width: 100%;
            height: 100vh;
            background: transparent;
            position: relative;
            z-index: 2;

            @include min-screen($small) { display: block; }

            svg {
                @include vw('width', 24);
                position: absolute;
                top: 85vh;
                left: 50%;
                transform: translateX(-50%);
            }            
        }

        .hero__background {
            width: 100%;
            height: 100vh;
            position: sticky;
            top: 0;
            left: 0;
            overflow: hidden;
            opacity: 0;
            z-index: 1;

            animation: fadeBackground 0.5s linear forwards;
            animation-delay: 0.5s;
            
            @keyframes fadeBackground {
                from { opacity: 0; }
                to { opacity: 1; }
            }

            video {
                width: 110%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }

            @include min-screen($small) {
                @include vw('margin-bottom', 400);
                position: absolute;
            }
        }

        .hero__title {
            @include vw('padding-bottom', 300, 420);
         
            .heading-one {
                max-width: 80%;
                margin: auto;
                text-align: center;            
            }

            .heading-one, .btn { 
                position: relative;
                z-index: 2;
                margin: auto;
            }

            .btn { @include vw('margin-top', 24, 420); }

            @include min-screen($small) {
                padding: 0;

                .heading-one { max-width: 60%; }
                .btn { @include vw('margin-top', 24); }
            }
        }
    }
}

.home--about {
    background: #121217;
    overflow: hidden;

    .about-logo {
        margin-top: -12px;
        margin-left: -10%;
        display: inline-block;
        white-space: nowrap;

        svg { width: 100%; }
    }

    .about-wrapper {
        @include vw('padding-top', 120, 420);
        @include vw('padding-bottom', 120, 420);

        @include min-screen($small) {
            @include vw('padding-top', 210);
            @include vw('padding-bottom', 210);
        }

        .accordion-wrapper {
            .accordion-content:after { background: linear-gradient(180deg, rgba(18,18,23, 0) 0%, rgba(18,18,23, 1) 100%); }

            @include min-screen($small) {
                height: fit-content;
                .accordion-tab { display: none; }

                .accordion-content {
                    height: fit-content;
                    &:after { display: none; }
                }
            }
        }

        .about__bullets {
            @include vw('margin-top', 72, 420);

            li {
                @include vw('margin-bottom', 12, 420);
                @include vw('padding-left', 36, 420);
                position: relative;
          
                &:last-of-type { margin-bottom: 0; }

                span { 
                    @include vw('width', 12, 420);
                    @include vw('height', 12, 420);
                    border-radius: 50%;
                    position: absolute;
                    top: 6px;
                    left: 0;
                }
            }

            @include min-screen($small) {
                @include vw('margin-top', 60);
                
                li {
                    @include vw('margin-bottom', 24);
                    @include vw('padding-left', 48);

                    span { 
                        @include vw('width', 16);
                        @include vw('height', 16);
                    }
                }
            }
        }
    }
}

.home--infographics {
    @include vw('padding-top', 120, 420);
    @include vw('padding-bottom', 180, 420);
    background: $dark-grey;

    @include min-screen($small) {
        @include vw('padding-top', 320);
        @include vw('padding-bottom', 320);
    }

    .infographic__slideshow {
        width: 100%;
        position: relative;
        overflow: visible;

        &.infographic-mobile {
            @include min-screen($small) { display: none; }
        }

        &.infographic-desktop {
            display: none;
            @include vw('height', 650);
            @include min-screen($small) { display: block; }
        }

        .swiper-container { 
            height: 100%;

            .swiper-slide {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .slide__wrapper {
                    @include vw('margin-bottom', 48, 320);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &:last-of-type { margin: 0; }
                    
                    .slide__text {
                        @include vw('padding-bottom', 36, 420);
                        width: 80%;
                        margin: auto;
                    }

                    .slide__image {
                        width: 100%;
                    
                        img {
                            height: auto;

                            &.img_desktop { display: none; }
                            &.img_mobile { display: block; }
                        }
                    }

                    @include min-screen($small) {
                        @include vw('margin-bottom', 48);
                        flex-direction: row;

                        .slide__text {
                            width: 25%;
                            margin: 0;
                            padding: 0;
                        }

                        .slide__image {
                            width: 65%;
                            text-align: right;

                            img {
                                &.img_desktop { display: block; }
                                &.img_mobile { display: none ; }
                            }
                        }
                    }
                }
            }
        }

        .swiper-navigation {
            display: flex;
            position: absolute;
            top: 110%;
            left: 10%;
            color: $light-grey;

            @include min-screen($small) { left: 0; }

            .swiper-prev, .swiper-next {
                height: auto;
                position: relative;
                pointer-events: auto;
                z-index: 10;
                svg { @include vw('height', 24, 420); }

                @include min-screen($small) { svg { @include vw('height', 24); } }
            }
    
            .swiper-prev { margin-right: $unit-small; }

            .swiper-next { transform: rotate(180deg); }

            .swiper-pagination {
                position: relative;
           
                .swiper-pagination-bullet {
                    width: auto;
                    height: auto;
                    background: none;
                    color: $light-grey;
                    padding-right: $unit-small;
                    cursor: none;
                }

                .swiper-pagination-bullet-active { color: $white; }
            }
        }
    }
}

.home--services {
    @include vw('padding-top', 36, 420);
    background: $black;
    text-align: center;
    overflow: hidden;

    @include min-screen($small) {
        @include vw('padding-top', 280);
        @include vw('padding-bottom', 98);
    }

    .heading-three-white {
        @include vw('margin-bottom', 36, 420);
        @include min-screen($small) { @include vw('margin-bottom', 72); }
    }

    .service__wrapper {
        @include vw('padding-top', 24, 420);
        @include vw('padding-bottom', 24, 420);
        height: 100%;
        width: 110%;
        margin-left: -5%;
        display: flex;
        border: 1px solid $light-grey;

        @include min-screen($small) {
            @include vw('padding-top', 24);
            @include vw('padding-bottom', 24);
            width: 100%;
            margin: 0;
        }
        
        h2 {
            margin: auto;
            color: $light-grey;
        }
    }
}

.home--experience {
    @include vw('padding-top', 120, 420);
    @include vw('padding-bottom', 120, 420);
    background: $black;
    position: relative;

    @include min-screen($small) {
        @include vw('padding-top', 200);
        @include vw('padding-bottom', 200);
        height: 100vh;
        display: flex;
        align-items: center;
    }

    &:before {
        content: '';
        height: 20%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.9990371148459384) 0%, rgba(0,0,0,0) 100%);
        z-index: 2;
    }
     
    .experience-background {
        height: 60vh;
        width: 100%;
        position: relative;
        z-index: 0;
        
        // canvas {
        //     width: auto;
        //     height: 100%;
        //     position: absolute;
        //     left: 50%;
        //     top: 0;
        //     transform: translateX(-50%);
        // }

        .experience__one, .experience__two {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);    
            
            video {
                width: 100%; 
                height: 100%;
            }
        }

        @include min-screen($small) {
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            // canvas {
            //     left: 60%;
            //     transform: translateX(-60%);
            // }
            
            .experience__one, .experience__two {
                width: auto;
                height: 100%;
                left: 65%;
                transform: translateX(-65%);
            }
        }
    }

    .experience-wrapper {
        position: relative;
        z-index: 2;

        @include min-screen($small) {
            p { width: 80%; }
        }
    }
}

.video--banner-one , .video--banner-two {
    width: 100%;
    height: 80vh;
    position: relative;

    @include min-screen($small) { height: 100vh; }

    .video-background {
        width: 100%;
        height: 100%;
      
        video, img { 
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .heading-one {
        width: 80%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;

        @include min-screen($small) { width: 50%; }
    }
}

.home--technology {
    position: relative;
    background: #121217;
    z-index: 0;

    .technology-background {
        width: 100%;
        height: 100%;
        margin: auto;

        video {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
       
        @include min-screen($small) {
            width: 60%;
            height: 100%;
            position: absolute;
            top: 50%;
            right: -5%;
            transform: translateY(-50%);
            z-index: -1;
        }
    }

    .technology-wrapper {
        @include vw('padding-top', 90, 420);
        @include vw('padding-bottom', 120, 420);

        @include min-screen($small) {
            @include vw('padding-top', 400);
            @include vw('padding-bottom', 400);

            .heading-two-white, p { width: 60%; }
        }

        .technology__image {
            width: 60%;
            height: fit-content;
            margin: auto;
            @include vw('margin-top', 48, 420);
            
            @include min-screen($small) {
                margin: 0;
                @include vw('margin-top', 60);
                width: 40%;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .technology__characteristics {
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: auto;
            @include vw('margin-top', 48, 420);

            .btn {
                @include vw('margin-bottom', 24, 420);
                width: 100%;
                text-align: center;
                border: 1px solid $light-grey;

                &:last-of-type { margin: 0; }

                .heading-two-grey, .heading-three-grey {
                    margin: 0;
                    color: $light-grey;
                }
            }

            @include min-screen($small) {
                width: fit-content;
                display: block;
                margin: 0;
                @include vw('margin-top', 130);
                
                .btn {
                    @include vw('margin-right', 30); 
                    margin-bottom: 0;
                    width: fit-content;
                    display: inline-block;
                }
            }
        }
    }
}

.home--team {
    @include vw('padding-top', 120, 420);
    @include vw('padding-bottom', 120, 420);
    background: #E6E4E3;

    @include min-screen($small) {
        @include vw('padding-top', 180);
        @include vw('padding-bottom', 220);
    }

    .team-wrapper {
        .team__nav {
            @include vw('margin-top', 60, 420);
            @include min-screen($small) { display: none; }

            span {
                @include vw('height', 16, 420);
                display: inline-block;

                svg {
                    height: 100%;
                    vertical-align: top;
                    path { stroke: $black; }
                }

                &:last-of-type {
                    margin-left: $unit-small;
                    transform: rotate(180deg);
                }
            }
        }

        .team__members {
            @include vw('margin-top', 24, 420);
            height: 120px; //ao mudar aqui tenho de mudar no script :')
            position: relative;
            transition: all 0.3s ease-in-out;
            
            @include min-screen($small) {
                @include vw('margin-top', 90); 
                height: fit-content;
            }

            li {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                pointer-events: none;
                transition: all 0.3s ease-in-out;

                .accordion-content {
                    height: 120px; 
                    &:after { background: linear-gradient(180deg, rgba(230, 228, 227, 0) 0%, rgba(230, 228, 227, 1) 100%); }
                }

                .accordion-tab {
                    opacity: 0;
                    pointer-events: none;
                    transition: all 0.3s ease-in-out;

                    span { color: $black; }
                }
                
                &.active-member {
                    opacity: 1;
                    pointer-events: auto;

                    .accordion-tab {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }

                .heading-three-grey {
                    @include vw('font-size', 16, 420);
                    color: $black;
                    font-weight: 500;
                    margin-bottom: 0;
                }

                p { @include vw('margin-top', 24, 420); }

                @include min-screen($small) {
                    @include vw('margin-bottom', 80);
                    width: 45%;
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    opacity: 1;

                    &:nth-of-type(2n+2) { margin-left: 5%; }

                    .accordion-content {
                        height: fit-content;
                        &:after { display: none; }
                    }
                    .accordion-tab { display: none; }

                    .heading-three-grey { @include vw('font-size', 20); }
                    p { @include vw('margin-top', 24); }
                }
            }
        }

    }
}

.home--form {
    @include vw('padding-top', 120, 420);
    @include vw('padding-bottom', 120, 420);
    background: #343436;

    @include min-screen($small) {
        @include vw('padding-top', 160);
        @include vw('padding-bottom', 160);
    }

    .form__hero {
        width: 90%;
      
        .heading-three-white, .heading-two-white {
            @include vw('margin-bottom', 36);
        }  
    }

    .form__wrapper {
        @include vw('margin-top', 24, 420);
        input {  display: inline-block; }

        .row .column {
            @include vw('margin-bottom', 12, 420);
            @include create-cols(4, 4); 
            padding: 0;

            input { width: 100%; }
        }

        .btn { @include vw('margin-top', 12, 420); }       

        @include min-screen($small) {
           margin: 0;

            .row .column {
                @include vw('margin-bottom', 12);
                @include create-cols(2, 4); 

                &:nth-of-type(1) {  padding-right: #{$gutter/2}vw; }
                &:nth-of-type(2) {  padding-left: #{$gutter/2}vw; }
            }

            .btn { @include vw('margin-top', 24); }       
        }
    }
}

.video--banner-three {
    @include vw('padding-top', 120, 420);
    @include vw('padding-bottom', 120, 420);
    background: #121217; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    .video-background {
        @include vw('width', 260, 420);

        img {   width: 100%; }
    }

    @include min-screen($small) {
        @include vw('padding-top', 215);
        @include vw('padding-bottom', 215);

        .video-background { @include vw('width', 460); }
    }
}