.home--hero {
    background: #080808;

    .hero-wrapper {
        @include vw('padding-bottom', 460);
        width: 100%;
        min-height: 100vh;
        position: relative;
        
        > span:first-child {
            display: block;
            width: 100%;
            height: 100vh;
            background: transparent;
            position: relative;
            z-index: 2;

            svg {
                @include vw('width', 24);
                position: absolute;
                top: 85vh;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .hero__background {
            @include vw('margin-bottom', 400);
            width: 100%;
            height: 100vh;
            position: absolute;
            top: -1px;
            left: 0;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .heading-one {
            width: 60%;
            margin: auto;
            text-align: center;
        }

        .heading-one, .btn { 
            position: relative;
            z-index: 2;
            margin: auto;
        }

        .btn { @include vw('margin-top', 24); }
    }
}

.home--about {
    background: #121217;
    overflow: hidden;

    .about-logo {
        margin-top: -12px;
        margin-left: -10%;
        display: inline-block;
        white-space: nowrap;

        svg { width: 100%; }
    }

    .about-wrapper {
        @include vw('padding-top', 210);
        @include vw('padding-bottom', 210);

        .heading-three-white, .heading-two-white { 
            @include vw('margin-bottom', 24);
            display: block;
        }

        .about__bullets {
            @include vw('margin-top', 60);

            li {
                @include vw('margin-bottom', 24);
                display: flex;
                align-items: center;

                &:last-of-type { margin-bottom: 0; }

                span { 
                    @include vw('width', 16);
                    @include vw('height', 16);
                    @include vw('margin-right', 48);
                    border-radius: 50%;
                }
            }
        }
    }
}

.home--infographics {
    @include vw('padding-top', 320);
    @include vw('padding-bottom', 320);
    background: $dark-grey;

    .infographic__slideshow {
        width: 100%;
        position: relative;
        overflow: visible;

        .swiper-container { 

            .swiper-slide .slide__wrapper {
                @include vw('height', 650);
                display: flex;
                justify-content: space-between;
                
                .slide__text { width: 25%; }
                .slide__image { width: 65%; }
            }
        }

        .swiper-navigation {
            display: flex;
            position: absolute;
            top: 105%;
            left: 0;
            color: $white;

            .swiper-pagination {
                position: relative;
            }
        }
    }
}

.home--services {
    @include vw('padding-top', 280);
    @include vw('padding-bottom', 98);
    background: $black;
    text-align: center;

    .heading-three-white {
        @include vw('margin-bottom', 72);
        display: block;
    }

    .service__wrapper {
        @include vw('padding-top', 24);
        @include vw('padding-bottom', 24);
        height: 100%;
        display: flex;
        border: 1px solid $light-grey;
        
        h2 {
            margin: auto;
            color: $light-grey;
        }
    }
}

.home--experience {
    @include vw('padding-top', 500);
    @include vw('padding-bottom', 500);
    background: $black;
    position: relative;
     
    .experience-background {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        
        canvas {
            width: auto;
            height: 100%;
            position: absolute;
            left: 60%;
            top: 0;
            transform: translateX(-60%);
        }
    }

    .experience-wrapper {
        position: relative;
        z-index: 2;

        .heading-three-white, .heading-two-white { 
            @include vw('margin-bottom', 24);
            display: block;
        }

        p { width: 80%; }
    }
}

.video--banner-one , .video--banner-two {
    width: 100%;
    height: 100vh;
    position: relative;

    .video-background {
        width: 100%;
        height: 100%;
      
        video, img { 
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .heading-one {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
    }
}

.home--technology {
    position: relative;
    background: #121217;
    z-index: 0;

    .technology-background {
        width: 65%;
        height: 80%;
        position: absolute;
        top: 50%;
        right: -10%;
        transform: translateY(-50%);
        z-index: -1;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .technology-wrapper {
        @include vw('padding-top', 400);
        @include vw('padding-bottom', 400);
  
        .heading-three-white, .heading-two-white { 
            @include vw('margin-bottom', 24);
            display: block;
            width: 60%;
        }

        p { width: 60%; }

        .technology__image {
            @include vw('margin-top', 60);
            width: 45%;
            height: fit-content;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .technology__characteristics {
           @include vw('margin-top', 130);

            .btn {
                @include vw('margin-right', 30);
                display: inline-block;
                border: 1px solid $light-grey;

                .heading-two-grey, .heading-three-grey { color: $light-grey; }
            }

        }
    }
}

.home--team {
    @include vw('padding-top', 180);
    @include vw('padding-bottom', 220);
    background: #E6E4E3;

    .team-wrapper {
        .heading-three-grey, .heading-two-black {
            @include vw('margin-bottom', 24);
            display: block;
        }

        .team__members {
            @include vw('margin-top', 90);

            li {
                @include vw('margin-bottom', 80);
                width: 45%;
                display: inline-block;
                vertical-align: top;

                &:nth-of-type(2n+2) {
                    margin-left: 5%;
                }

                .heading-three-grey {
                    @include vw('font-size', 20);
                    color: $black;
                    font-weight: 500;
                    margin-bottom: 0;
                }

                p { @include vw('margin-top', 24); }
            }
        }

    }
}

.home--form {
    @include vw('padding-top', 160);
    @include vw('padding-bottom', 160);
    background: #343436;

    .form__hero {
        width: 90%;
      
        .heading-three-white, .heading-two-white {
            @include vw('margin-bottom', 36);
            display: block
        }  
    }

    .form__wrapper {
        input {  display: inline-block; }

        .row {
            .column {
                @include vw('margin-bottom', 12);
                @include create-cols(2, 4); 

                &:nth-of-type(1) { padding-left: 0; }
                &:nth-of-type(2) { padding-right: 0; }

                input { width: 100%; }
            }
        }
        
        .btn {
            @include vw('margin-top', 24);
            @include vw('padding-top', 20);
            @include vw('padding-bottom', 20);
        }       
    }
}

.video--banner-three {
    @include vw('padding-top', 215);
    @include vw('padding-bottom', 215);
    background: #121217; 
    display: flex;
    align-items: center;
    justify-content: center;
    
    .video-background {
        @include vw('width', 460);

        img {   width: 100%; }
    }
}