.password-page {
    max-height: 100vh;
    background: #000;
    position: relative;
    z-index: 100;
    overflow: hidden;

    .login--background {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);   
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
        
        .login__background {
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0.8;

            video {
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }

            @include min-screen($small) {
                height: 110%;
                width: auto;
                margin: auto;

                video {
                    width: auto;
                    object-fit: contain;
                }
            }
        }
    }

    .login--wrapper .login__content {
        height: 100vh;
        height: calc(var(--vh, 1vh) * 100);
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 2;

        .heading-two-white { @include vw('font-size', 36, 420); }
        .heading-three-white { @include vw('font-size', 14, 420); }

        @include min-screen($xsmall) {
            text-align: center;
            .heading-two-white { @include vw ('font-size', 39, 767); }
            .heading-three-white { @include vw ('font-size', 18, 767); }
        }

        @include min-screen($small) {
            .heading-two-white { @include vw ('font-size', 39); }
            .heading-three-white { @include vw ('font-size', 18); }
        }

        .login__form {
            width: 100%;

            label { @include vw('margin-bottom', 12, 420); }

            @include min-screen($small) {
                width: 50%;
                label { @include vw('margin-bottom', 12); }
            }
            
            .form__group {
                position: relative;
                display: flex;
                align-items: center;

                button {
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    right: $unit-small;
                    transform: rotate(180deg) translateY(50%); 

                    svg { height: 40%; }
                }
            }
        }

        .password-error { 
            @include vw('font-size', 14, 420);
            @include vw('margin-top', 24, 420);
            color: $white;
            align-self: flex-start;
            
            @include min-screen($xsmall) {
                @include vw('font-size', 18, 767);
                @include vw('margin-top', 24, 767);
                align-self: center;
            }
    
            @include min-screen($small) {
                @include vw ('font-size', 18);
                @include vw('margin-top', 24);
            }
        }
    }
}
