.page-template-template-login {
    background: #121219;

    #siteHeader, #siteFooter { display: none; }

    .login--background {
        height: 100vh;
        width: 100%;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;

        svg {
            width: 105%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%); 

            &:first-of-type { top: -#{$unit*2}; }
            &:last-of-type { bottom: -#{$unit*2}; }
        }

        .background__image {
            height: 110%;
            width: auto;
            margin: auto;
            z-index: -1;

            img {
                height: 100%;
                width: auto;
                object-fit: contain;
            }
        }
    }

    .login--wrapper .login__content {
        height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 2;

        .heading-three-white {
            @include vw('margin-bottom', 24);
            @include vw ('font-size', 18);
            display: block;
        }

        .login__form {
            width: 50%;
            
            .form__group {
                position: relative;
                display: flex;
                align-items: center;

                button {
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    right: $unit-small;
                    transform: rotate(180deg) translateY(50%); 

                    svg { height: 40%; }
                }
            }
        }
    }
}
