.page--hero {
    @include vw('padding-top', 144, 420);
    @include vw('padding-bottom', 72, 420);
    background: $black;
    color: $white;
    text-align: center;

    @include min-screen($xsmall) {
        @include vw('padding-top', 192, 767);
        @include vw('padding-bottom', 92, 767);
    }
    
    @include min-screen($small) {
        @include vw('padding-top', 212);
        @include vw('padding-bottom', 92);
    }
}

.page--content {
    @include vw('padding-top', 72, 420);
    @include vw('padding-bottom', 72, 420);
    background: $dark-grey;

    @include min-screen($xsmall) {
        @include vw('padding-top', 92, 767);
        @include vw('padding-bottom', 92, 767);
    }

    @include min-screen($small) {
        @include vw('padding-top', 190);
        @include vw('padding-bottom', 190);
    }

    h2 {
        @extend .heading-two-white;
        font-family: $font-circular;
        text-transform: none;
        font-weight: 500;
    }

    h3 { @extend .heading-three-white; }

    h2, h3 { @include vw('margin-bottom', 24); }

    .accordion-wrapper {
        .accordion-content {
            @include vw('height', 200);

            &:after { background: linear-gradient(180deg, rgba($dark-grey, 0) 0%, rgba($dark-grey, 1) 100%); }
        }
    }
}