// ==========================================================================
// Tools / Font Faces
// ==========================================================================

$global-font-file-formats: "woff2", "woff" !default;

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Light.woff2') format('woff2'),
       url('../fonts/CircularStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Book.woff2') format('woff2'),
       url('../fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../fonts/CircularStd-Medium.woff2') format('woff2'),
       url('../fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'LyyraExtended';
  src: url('../fonts/LyyraExtended-Black.woff2') format('woff2'),
       url('../fonts/LyyraExtended-Black.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}