// ==========================================================================
// Generic
// ==========================================================================

html {
    box-sizing: border-box;

    @include min-screen($small) {
        cursor: none ;

        a, button { cursor: none; }
    }
}

//
// Add the correct display in IE 10-.
// 1. Add the correct display in IE.
//
template, /* [1] */
[hidden] {
    display: none;
}

*,
:before,
:after {
    box-sizing: inherit;
}

address {
    font-style: inherit;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

b,
strong {
    font-weight: $bold;
}

a {
    text-decoration: none;

    svg {
        pointer-events: none;
    }
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p,
figure {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/**
 * 1. Single taps should be dispatched immediately on clickable elements
 */
a, area, button, input, label, select, textarea, [tabindex] {
    -ms-touch-action: manipulation; /* [1] */
    touch-action: manipulation;
}

[hreflang] > abbr[title] {
    text-decoration: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCCCCC;
}


// *** Global Styles ***

// 1 Headings 

.heading-one {
    @include vw ('font-size', 120);
    @include vw ('line-height', 130);
    color: $white;
}

.heading-two-white {
    @include vw ('font-size', 39);
    font-family: $font-lyyra;
    color: $white;
    text-transform: uppercase;
}

.heading-two-grey {
    @include vw ('font-size', 39);
    font-family: $font-lyyra;;
    color: $grey;
    text-transform: uppercase;
}

.heading-two-black {
    @include vw ('font-size', 39);
    font-family: $font-lyyra;;
    color: $black;
    text-transform: uppercase;
}

.heading-three-white {
    @include vw ('font-size', 16);
    color: $white;
}

.heading-three-grey {
    @include vw ('font-size', 16);
    color: $grey;
}

p {
    @include vw ('font-size', 24);
    color: $light-grey;
}

