// ==========================================================================
// Base / Page
// ==========================================================================

//
// Simple page-level setup.
//
// 1. Set the default `font-size` and `line-height` for the entire project,
//    sourced from our default variables.
// 2. Ensure the page always fills at least the entire height of the viewport.
//
@include normalize();

html {
  min-height: 100%; /* [2] */
  color: $color;
  font-family: $font-family;
  line-height: $line-height; /* [1] */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;

  &.is-loading {
    cursor: wait;
  }

  &.has-scroll-smooth {
    overflow: hidden;
  }

  &.has-scroll-dragging {
    user-select: none;
  }
}

body {
  background: $black;

  .data-scroll-section {
    position: relative;
    pointer-events: none !important;
    z-index: 10;
  }

  main {
    position: relative;
    z-index: 10;
    pointer-events: none !important;

    section { pointer-events: auto !important; }
  }

  .has-scroll-smooth & {
    overflow: hidden;
  }  

  &.no-scroll { overflow: hidden; }

  &.password-protected { #siteFooter { display: none; } }
}

::selection {
  background-color: $selection-background-color;
  color: $selection-text-color;
  text-shadow: none;
}

a {
  color: $link-color;

  @include u-hocus {
    color: $link-hover-color;
  }
}

