// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;
$dark-grey: #17171D;
$grey: #343436;

// Specific
// =============================================================================
// Link
$link-color: $dark-grey;
$link-focus-color: $dark-grey;
$link-hover-color: darken($dark-grey, 10%);
// Selection
$selection-text-color: $dark-grey;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
