// ==========================================================================
// Settings / Config
// ==========================================================================

// Context
// =============================================================================
// The current stylesheet context. Available values: frontend, editor.
$context: frontend !default;

// Path is relative to the stylesheets directory.
$assets-path: "../" !default;

// Typefaces
// =============================================================================
$font-sans-serif: sans-serif;

// Typography
// =============================================================================
// Base
$font-size: 16px;
$line-height: 24px / $font-size;
$font-family: $font-sans-serif;
$color: #222222;
// Headings
$font-size-h1: 36px !default;
$font-size-h2: 28px !default;
$font-size-h3: 24px !default;
$font-size-h4: 20px !default;
$font-size-h5: 18px !default;
$font-size-h6: 16px !default;
$line-height-h: $line-height;
// Weights
$light: 300;
$normal: 400;
$medium: 500;
$bold: 700;

// Transitions
// =============================================================================
$speed: 0.3s;
$easing: linear;

// Spacing Units
// =============================================================================
$unit: 60px;
$unit-small: 30px;
