// ==========================================================================
// Settings / Config / Colors
// ==========================================================================

// Palette
// =============================================================================
$white: #ffffff;
$black: #000000;
$color-primary: #3860ff;

// Specific
// =============================================================================
// Link
$link-color: $color-primary;
$link-focus-color: $color-primary;
$link-hover-color: darken($color-primary, 10%);
// Selection
$selection-text-color: $color-primary;
$selection-background-color: #ffffff;

// Social Colors
// =============================================================================
$facebook-color: #3b5998;
$instagram-color: #e1306c;
$youtube-color: #cd201f;
$twitter-color: #1da1f2;
